@import '../share';

.logo {
  position: absolute;
  top: 0;
  left: 20px;
  display: flex;
  align-items: center;

  > label {
    margin: 20px 0 0 20px;
  }
}

:host ::ng-deep {
  .mat-tab-link {
     height: 88px;
   }

  .mat-typography {
    font-size: 30px;
  }

  .mat-button {
    font-size: 20px;
    line-height: 50px !important;
    border-radius: 10px;
  }

  @media #{$tablets-and-large} {

    .mat-button {
      font-size: 50px;
      line-height: 70px !important;
    }

    .mat-button-wrapper {
      position: relative;
      top: -5px;
    }
  }
}

.hide-content {
  opacity: 0;
}
