@import '../../share';

//.all-container {
//  position: fixed;
//}

.mission-container, .welcome-overlay {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative;
}

.welcome-overlay {
  top: 0;

  > p {
    margin: auto;
  }
}

.navigate-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.wallpaper {
  background-repeat: repeat;
  background-image: url("../../assets/bckgrnd.gif");
  width: 100vw;
  height: 100%;
  position: fixed;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.4s ease-in;

  &.show-background {
    opacity: 1;
  }
}

.chaika, .navigate-container {
  opacity: 0;
  transition: opacity 0.4s;
}

.chaika {
  position: fixed;
  height: 30%;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  transition: right 1s ease-in-out, transform .5s;
}

.chaika-shown {
  opacity: 1;
}

.chaika-flipped {
  transform: scale(-1, 1);
}

.chaika-away-right {
  right: -200vw;
}

.link-button {
  font-family: Brick;
}

.mission-text {
  width: 80%;
  margin: auto;
  font-family: 'Brick';
}

@media #{$tablets-and-large} {
  .mission-text {
    width: 600px;
    font-size: 30px;
    line-height: 30px;
  }
}

