<div class="all-container">
  <div [className]="showBack ? 'wallpaper show-background' : 'wallpaper'"></div>

  <img class="chaika" [ngClass]="{
    'chaika-shown': showChaika,
    'chaika-flipped': isChaikaFlipped,
     'chaika-away-right': isChaikaAway}"
       src="../assets/email.gif"
       (transitionend)="onChaikaGone()"/>

  <div class="welcome-overlay"
       [appParallax]="3">
    <app-logo></app-logo>

    <div [className]="showChaika ? 'navigate-container chaika-shown' : 'navigate-container'">
      <button class="link-button"
              [appParallax]="-15"
              mat-button
              color="primary"
              (click)="viewportScroller.scrollToAnchor('mission')">
        Миссия
      </button>

      <button class="link-button"
              [appParallax]="-10"
              mat-button color="accent" disabled>
        Команда
      </button>
    </div>
  </div>

  <div id="mission"
       class="mission-container">
    <div class="mission-text">
      Национальные проекты по импортозамещению в рекламной индустрии несутся полным ходом и ДДБО Русия тому яркое
      подтверждение.
      <br/>
      <br/>
      Уникальное агентство рождается прямо на ваших глазах и не оставит ваши сердечки равнодушными.
    </div>
  </div>
</div>
