$medium-screen: 992px;
$big-screen-height: 1100px;
$small-screen-height-width: 700px;
$very-big-screen-height: 1400px;
$tablets-and-large: "only screen and (min-device-width : #{$medium-screen})";
$big-height: "only screen and (min-height: #{$big-screen-height})";
$small-height: "only screen and (max-height: #{$small-screen-height-width}) and (min-device-width : #{$small-screen-height-width})";
$very-big-height: "only screen and (min-height: #{$very-big-screen-height})";

.only-mobile {
  display: flex !important;
}

.only-desktop {
  display: none !important;
}

@media #{$tablets-and-large} {
  .only-mobile {
    display: none !important;
  }

  .only-desktop {
    display: flex !important;
  }
}
